/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --black: #393E46;
    --blue: #00ADB5;
    --lightblue: #8FCCC5;
    --white: #F7F0F0;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.chore-grid-container {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 450px) {
    .chore-grid-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 700px) {
    .chore-grid-container { grid-template-columns: repeat(3, 1fr); }
}

.chore-card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 8rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


/* LINKS */
/* Place holder image: https://via.placeholder.com/200x200 */
/* Guide for grid layout: https://via.placeholder.com/200x200 */